nav {
  height: 120px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #4056a1;
  color: #ffff;
  padding-right: 1.5em;
  padding-left: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  @media screen and (max-width: 992px) {
    background-color: #cc8800;
  }

  span {
    font-family: Bungee, "sans-serif";
  }
  div {
    text-align: center;
  }
  i {
    color: red;
    margin-top: 0;
    position: relative;
    top: 0;
    animation-name: double-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes double-down {
    0% {
      top: 0;
    }
    50% {
      top: 0.4em;
    }
    100% {
      top: 0;
    }
  }

  p {
    margin-bottom: 0;
  }
}
