header{
    height: 400px;
    width: 35%;
    background-color: #cc8800;
    background-image: url('/images/tweet-background.png');
    color: #ffffff;
    margin-top: 5em; /*120px to leave space for the nav which 120px width*/
}
@media screen and (max-width: 992px) {
    header{
        width: 100%;
    }
  }
  
header div{
    margin: 0 auto;
    text-align: center;
}

header h2{
    margin-top: 0;
    font-weight: lighter;
}