header{
    height: 400px;
    width: 100%;
    background-color: #cc8800;
    background-image: url('/images/tweet-background.png');
    color: #FFFF;
}

header div{
    margin: 0 auto;
    text-align: center;
}

header h2{
    margin-top: 0;
    font-weight: lighter;
}